@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@include b(breadcrumb) {
  font-size: 14px;
  line-height: 1;
  @include utils-clearfix;

  @include e(separator) {
    margin: 0 9px;
    font-weight: bold;
    color: $--color-text-secondary;

    &[class*=icon] {
      margin: 0 6px;
      font-weight: normal;
    }
  }

  @include e(item) {
    float: left;

    @include e(inner) {
      &, & a {
        /* font-weight: bold; */
        transition: $--color-transition-base;
        color: $--color-text-secondary;
        &.linked {
          &:hover {
            color: $--color-primary;
            cursor: pointer;
            // text-decoration: underline;
          }
          &:active {
            color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
            cursor: pointer;
            // text-decoration: underline;
          }
        }
      }
    }

    &:last-child {
      .el-breadcrumb__inner,
      .el-breadcrumb__inner a {
        &, &:hover, &:active {
          font-weight: normal;
          color: $--color-text-primary;
          cursor: text;
          text-decoration: none;
        }
      }

      .el-breadcrumb__separator {
        display: none;
      }
    }
  }
}
