@import "mixins/mixins";
@import "common/var";

@include b(card) {
  border-radius: $--card-border-radius;
  border: 1px solid $--card-border-color;
  background-color: $--color-white;
  overflow: hidden;
  // box-shadow: $--box-shadow-light;
  color: $--color-text-primary;

  @include e(header) {
    padding: 8px $--card-padding;
    border-bottom: 1px solid $--card-border-color;
    box-sizing: border-box;
    background: $--background-color-base-1;
    font-size: 14px;
    font-weight: 500;
  }

  @include e(body) {
    padding: $--card-padding;
  }
  @include e(footer) {
    padding: 10px $--card-padding;
    border-top: 1px solid $--card-border-color;
    box-sizing: border-box;
    font-size: 14px;
  }
}
