@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "common/popup";

@include b(dialog) {
  position: relative;
  margin: 0 auto;
  background: $--color-white;
  border-radius: $--border-radius-small;
  box-shadow: $--dialog-box-shadow;
  box-sizing: border-box;
  width: 50%;

  @include when(fullscreen) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: auto;
  }

  @include e(wrapper) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
  }

  @include e(header) {
    padding: 13px 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid $--border-color-base;
    min-height: 18px;
    font-weight: bold;
    &.dragable {
      cursor: move;
      -moz-user-select: -moz-none;
      -moz-user-select: none;
      -o-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  @include e(headerbtn) {
    position: absolute;
    line-height: 20px;
    vertical-align: middle;
    right: 20px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: $--message-close-size;

    .el-dialog__close {
      color: $--color-info;
    }

    &:focus, &:hover {
      .el-dialog__close {
        color: $--color-primary;
      }
    }
  }

  @include e(title) {
    line-height: 20px;
    font-size: $--dialog-title-font-size;
    color: $--color-text-primary;
  }

  @include e(body) {
    padding: 20px 20px 20px 20px;
    color: $--color-text-primary;
    // line-height: $--dialog-line-height;
    font-size: $--dialog-font-size;
  }

  @include e(footer) {
    padding: 10px 20px 9px;
    text-align: right;
    box-sizing: border-box;
    border-top: 1px solid $--border-color-base;
  }

  // 内容居中布局
  @include m(center) {
    text-align: center;

    @include e(body) {
      text-align: initial;
      padding: 25px ($--dialog-padding-primary + 5px) 30px;
    }

    @include e(footer) {
      text-align: inherit;
    }
  }
}

.dialog-fade-enter-active {
  animation: dialog-fade-in .3s;
}

.dialog-fade-leave-active {
  animation: dialog-fade-out .3s;
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
