@import "mixins/mixins";
@import "common/var";
@import "button";
@import "./popper";

@include b(dropdown) {
  display: inline-block;
  position: relative;
  color: $--color-text-primary;
  font-size: $--font-size-base;

  .el-button-group {
    display: flex;
    .el-button--primary:first-child.is-disabled {
      border-right: none;
    }
    .el-button {
      float: none;
    }
  }

  // &:not(.el-dropdown__caret-button) {
  //   .el-ksd-icon-arrow_down_22 {
  //     font-size: 14px;
  //     transform: scale(1.57);
  //     margin-left: 5px;
  //   }
  // }

  & .el-dropdown__caret-button {
    padding-left: 1px;
    padding-right: 0px;
    position: relative;
    .el-ksd-icon-arrow_down_22 {
      font-size: 22px;
      transform: none;
      margin-left: 0px;
      right: 0px;
    }
    &:not(.is-plain) {
      border-left: none;
    }

    &::before {
      $gap: -1px;

      content: '';
      position: absolute;
      display: block;
      width: 1px;
      top: $gap;
      bottom: $gap;
      left: 0;
      background: mix(white, transparent, 50%);
    }

    &.is-text {
      margin-left: -1px !important;
      &::before {
        $gap: 5px;
        top: $gap;
        bottom: $gap;
        background: $--border-secondary-active;
      }
      &:hover {
        &::before {
          width: 0;
        }
      }
      &.is-disabled {
        &::before {
          opacity: 0.3;
        }
      }
    }

    &:hover {
      &::before {
        top: 0;
        bottom: 0;
      }
    }

    & .el-dropdown__icon {
      padding-left: 0;
    }
  }
  @include e(icon) {
    font-size: 12px;
    margin: 0 3px;
  }

  .el-dropdown-selfdefine { // 自定义
    &:focus:active, &:focus:not(.focusing) {
      outline-width: 0;
    }
  }
}

@include b(dropdown-menu) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  margin: 5px 0;
  background-color: $--color-white;
  border: 1px solid $--border-color-lighter;
  border-radius: $--border-radius-small;
  box-shadow: $--dropdown-menu-box-shadow;

  @include e(item) {
    list-style: none;
    line-height: 34px;
    padding: 0 10px;
    margin: 0;
    font-size: $--font-size-base;
    color: $--color-text-primary;
    cursor: pointer;
    outline: none;
    min-width: 72px;
    &:not(.is-disabled):hover, &:focus {
      background-color: $--dropdown-menuItem-hover-fill;
    }
    &:not(.is-disabled):active {
      background-color: $--background-color-hover;
    }

    @include m(divided) {
      $divided-offset: 6px;

      position: relative;
      margin-top: $divided-offset;
      border-top: 1px solid $--border-color-lighter;

      &:before {
        content: '';
        height: $divided-offset;
        display: block;
        margin: 0 -10px;
        background-color: $--color-white;
      }
    }

    @include when(disabled) {
      cursor: not-allowed;
      color: $--font-color-disabled-base;
      pointer-events: none;
    }
  }

  @include m(medium) {
    padding: 6px 0;

    @include e(item) {
      line-height: 30px;
      padding: 0 8px;
      font-size: 14px;

      &.el-dropdown-menu__item--divided {
        $divided-offset: 6px;
        margin-top: $divided-offset;

        &:before {
          height: $divided-offset;
          margin: 0 -8px;
        }
      }
    }
  }

  @include m(small) {
    padding: 6px 0;

    @include e(item) {
      line-height: 27px;
      padding: 0 7px;
      font-size: 13px;

      &.el-dropdown-menu__item--divided {
        $divided-offset: 4px;
        margin-top: $divided-offset;

        &:before {
          height: $divided-offset;
          margin: 0 -7px;
        }
      }
    }
  }

  @include m(mini) {
    padding: 3px 0;

    @include e(item) {
      line-height: 24px;
      padding: 0 5px;
      font-size: 12px;

      &.el-dropdown-menu__item--divided {
        $divided-offset: 3px;
        margin-top: $divided-offset;

        &:before {
          height: $divided-offset;
          margin: 0 -5px;
        }
      }
    }
  }
}
