@import "mixins/mixins";
@import "common/var";

@include b(tag) {
  background-color: $--tag-fill;
  display: inline-flex;
  padding: $--tag-padding;
  // height: 26px;
  color: $--tag-color;
  border-radius: $--tag-border-radius;
  box-sizing: border-box;
  border: 1px solid $--tag-border;
  white-space: nowrap;

  .el-tag__text {
    font-size: $--tag-font-size;
    line-height: $--tag-line-height;
  }

  // &.closeable:hover {
  //   border-color: $--tag-color;
  // }

  .el-ksd-icon-close_22 {
    font-size: 22px;
  }

  .el-ksd-icon-close_16 {
    font-size: 16px;
  }

  .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 14px;
    width: 14px;
    line-height: 14px;
    vertical-align: middle;
    top: -1px;
    right: -2px;
    color: $--tag-color;

    &::before {
      display: block;
    }

    &:hover {
      // background-color: $--tag-color;
      color: $--color-info-hover;
    }
  }

  .el-ksd-icon-close_22 {
    cursor: pointer;
    &:hover {
      // background-color: $--tag-color;
      color: $--color-info-hover;
    }
  }

  @include m(info) {
    background-color: $--tag-info-fill;
    border-color: $--tag-info-border;
    color: $--tag-info-color;

    // &.closeable:hover {
    //   border-color: $--tag-info-color;
    // }

    @include when(hit) {
      border-color: $--tag-info-color;
    }

    .el-tag__close {
      color: $--tag-info-color;
    }

    .el-tag__close:hover {
      // background-color: $--tag-info-color;
      color: $--color-info-secondary-hover;
    }
  }

  @include m(success) {
    background-color: $--tag-success-fill;
    border-color: $--tag-success-border;
    color: $--tag-success-color;

    // &.closeable:hover {
    //   border-color: $--tag-success-color;
    // }

    @include when(hit) {
      border-color: $--tag-success-color;
    }

    .el-tag__close {
      color: $--tag-success-color;
    }

    .el-tag__close:hover {
      // background-color: $--tag-success-color;
      color: $--color-success-hover;
    }
  }

  @include m(warning) {
    background-color: $--tag-warning-fill;
    border-color: $--tag-warning-border;
    color: $--tag-warning-color;

    // &.closeable:hover {
    //   border-color: $--tag-warning-color;
    // }

    @include when(hit) {
      border-color: $--tag-warning-color;
    }

    .el-tag__close {
      color: $--tag-warning-color;
    }

    .el-tag__close:hover {
      // background-color: $--tag-warning-color;
      color: $--color-warning-hover;
    }
  }

  @include m(danger) {
    background-color: $--tag-danger-fill;
    border-color: $--tag-danger-border;
    color: $--tag-danger-color;

    // &.closeable:hover {
    //   border-color: $--tag-danger-color;
    // }

    @include when(hit) {
      border-color: $--tag-danger-color;
    }

    .el-tag__close {
      color: $--tag-danger-color;
    }

    .el-tag__close:hover {
      // background-color: $--tag-danger-color;
      color: $--color-danger-hover;
    }
  }

  @include m(medium) {
    // height: 26px;
    // line-height: $--tag-line-height;

    // .el-icon-close {
    //   transform: scale(.8);
    // }
  }

  @include m(small) {
    // height: 20px;
    padding: $--tag-padding-small;

    .el-tag__text {
      font-size: 12px;
      line-height: 16px !important;
    }
  }

  @include m(mini) {
    padding: $--tag-padding-mini;
    .el-tag__text {
      font-size: 12px;
      line-height: 16px !important;
    }
  }
}
