@font-face {
  font-family: "iconfont-mult"; /* Project id 2457341 */
  src: url('iconfont.woff2?t=1621996487938') format('woff2'),
       url('iconfont.woff?t=1621996487938') format('woff'),
       url('iconfont.ttf?t=1621996487938') format('truetype');
}

.iconfont-mult {
  font-family: "iconfont-mult" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-ksd-icon-nav_data_characteristics_24:before {
  content: "\e681";
}

.el-ksd-icon-nav_project_24:before {
  content: "\e67d";
}

.el-ksd-icon-nav_user_group_24:before {
  content: "\e67e";
}

.el-ksd-icon-nav_snapshot_24:before {
  content: "\e67c";
}

.el-ksd-icon-nav_log_24:before {
  content: "\e675";
}

.el-ksd-icon-nav_connect_BI_24:before {
  content: "\e676";
}

.el-ksd-icon-nav_configuration_24:before {
  content: "\e677";
}

.el-ksd-icon-nav_workspace_24:before {
  content: "\e678";
}

.el-ksd-icon-nav_quota_management_24:before {
  content: "\e679";
}

.el-ksd-icon-nav_query_history_24:before {
  content: "\e67a";
}

.el-ksd-icon-nav_query_241:before {
  content: "\e67b";
}

.el-ksd-icon-tieredstorage_22:before {
  content: "\e671";
}

.el-ksd-icon-tieredstorage_16:before {
  content: "\e672";
}

.el-ksd-icon-finished_24:before {
  content: "\e66e";
}

.el-ksd-icon-info_24:before {
  content: "\e663";
}

.el-ksd-icon-nav_data_storge_24:before {
  content: "\e664";
}

.el-ksd-icon-nav_homepage_24:before {
  content: "\e665";
}

.el-ksd-icon-error_24:before {
  content: "\e666";
}

.el-ksd-icon-nav_model_24:before {
  content: "\e667";
}

.el-ksd-icon-nav_monitor_24:before {
  content: "\e668";
}

.el-ksd-icon-nav_notebook_24:before {
  content: "\e669";
}

.el-ksd-icon-nav_setting_24:before {
  content: "\e66a";
}

.el-ksd-icon-nav_user_management_24:before {
  content: "\e66b";
}

.el-ksd-icon-nav_dashboard_24:before {
  content: "\e66c";
}

.el-ksd-icon-nav_SQL_lab_24:before {
  content: "\e66d";
}

.el-ksd-icon-warning_24:before {
  content: "\e66f";
}

.el-ksd-icon-nav_query_24:before {
  content: "\e670";
}

.el-ksd-icon-finished_22:before {
  content: "\e65c";
}

.el-ksd-icon-info_22:before {
  content: "\e65d";
}

.el-ksd-icon-warning_22:before {
  content: "\e65e";
}

.el-ksd-icon-error_22:before {
  content: "\e65f";
}

.el-ksd-icon-table_er_diagram_22:before {
  content: "\e661";
}

.el-ksd-icon-peding_22:before {
  content: "\e662";
}

.el-ksd-icon-error_16:before {
  content: "\e653";
}

.el-ksd-icon-discarded_16:before {
  content: "\e654";
}

.el-ksd-icon-stopped_16:before {
  content: "\e655";
}

.el-ksd-icon-info_16:before {
  content: "\e656";
}

.el-ksd-icon-warning_16:before {
  content: "\e657";
}

.el-ksd-icon-finished_16:before {
  content: "\e658";
}

.el-ksd-icon-pending_16:before {
  content: "\e659";
}

.el-ksd-icon-queued_16:before {
  content: "\e65a";
}

.el-ksd-icon-running_16:before {
  content: "\e65b";
}

